body {
  background-image: url(body_backgroundimg.jpg);
  background-size: cover;
}
#banner img {
  height: 70px;
  width: 100%;
}

.manutencao {
  width: 50%;
  margin: auto;
  justify-content: center;
  margin-top: 10%;
}

h1 {
  text-align: center;
  width: 50%;
  margin: auto;
  margin-top: 10px;
  padding-top: 20px;
  padding-bottom: 20px;
  background-color: #0fa36b;
  border: 5px;
  border-style: ridge;
  border-color: rosybrown;
  align-self: center;
}
h4 {
  text-align: center;
  width: 50%;
  margin: auto;
  margin-top: 10px;
  padding-top: 20px;
  padding-bottom: 20px;
  background-color: #0fa36b;
  border: 5px;
  border-style: ridge;
  border-color: rosybrown;
  align-self: center;
}
#index {
  display: flex;
  flex-flow: row;
  align-items: center;
  width: 50%;
  margin: auto;
  /* margin-bottom: 5%; */
}
#index ol li {
  display: inline;
  color: white;
  background-color: #0fa36b;
  border: 2px;
  border-style: solid;
  border-color: white;
  border-radius: 5px;
  padding: 5px;
  margin-left: 15px;
}
#index h2 {
  color: white;
  font-size: 40px;
  margin-left: 20%;
}
#screenControl {
  display: flex;
  flex-flow: row;
}
#myPicture {
  margin: auto;
}
#myPicture img {
  border: 5px;
  border-style: ridge;
  border-color: rosybrown;
  padding: 10px;
  background-color: #0fa36b;
}
#resume {
  background-color: #0fa36b;
  width: 53%;
  margin: auto;
  color: white;
  font-size: 20px;
  border: 2px;
  border-color: white;
  border-style: solid;
  padding-left: 10px;
  padding-right: 10px;
  padding-bottom: 15px;
  border-radius: 10px;
  display: flex;
}
#titulo-e-botoes {
  display: flex;
  flex-flow: row;
}
#titulo1-ingles {
  display: unset;
  color: white;
}
#titulo1-portugues {
  display: none;
  color: white;
}
#titulo2-ingles {
  display: unset;
  color: white;
}
#titulo2-portugues {
  display: none;
  color: white;
}
#para-portugues {
  display: unset;
  margin-right: 0;
  margin-left: auto;
  height: min-content;
}
#para-ingles {
  display: none;
  margin-right: 0;
  margin-left: auto;
  height: min-content;
}
#ingles {
  display: unset;
}
#portugues {
  display: none;
}
#bottom {
  display: flex;
  flex-flow: row;
  margin: auto;
  width: 100%;
}
.columns h2 {
  /* font-size: 40px; */
  color: white;
}
#columnSkills {
  width: 150px;
  display: flex;
  flex-flow: column;
  background-color: #0fa36b;
  padding: 20px;
  text-align: left;
  margin: auto;
  border: 2px;
  border-color: white;
  border-style: solid;
  border-radius: 10px;
  margin-bottom: 50px;
  margin-top: 50px;
}
#columnLinks {
  width: 150px;
  height: fit-content;
  display: flex;
  flex-flow: column;
  background-color: #0fa36b;
  padding: 20px;
  text-align: left;
  margin: auto;
  border: 2px;
  border-color: white;
  border-style: solid;
  border-radius: 10px;
  margin-bottom: 50px;
  margin-top: 50px;
}
#skills,
#links {
  color: white;
}
#links a:hover,
#index a:hover {
  background-color: yellowgreen;
}
#links a:visited,
#index a:visited {
  color: red;
}
table tr td img {
  border-width: 10px;
  border-style: groove;
  border-color: rosybrown;
  padding: 0px;
  margin: 0%;
}
#gauge {
  margin: auto;
  align-self: center;
}
#trybe {
  margin: auto;
  align-self: center;
}
#trybe img {
  width: 50px;
}
#footer {
  display: flex;
  flex-flow: row;
  background-image: url(footer_background.webp);
  justify-content: center;
}
@media screen and (max-width: 768px) {
  body {
    margin: 0;
    border: 0;
  }

  #container {
    margin: 0;
    width: 360;
    display: flex;
    flex-flow: column;
    justify-content: center;
  }
  #myName {
    margin-top: 5%;
    display: flex;
    flex-flow: column;
    justify-content: center;
  }
  h1 {
    text-align: center;
    font-size: x-large;
    /* margin: 20px 0 20px 0; */
  }
  #index {
    font-size: small;
    display: flex;
    flex-flow: column;
    justify-content: center;
  }
  #index h2 {
    text-align: center;
    margin: 5% 0 5% 0;
  }
  #index ol {
    justify-content: center;
    padding: 0;
    width: 200px;
    /* margin-bottom: 10%; */
  }
  #index ol li {
    /* padding: 0; */
    margin-left: 5%;
  }
  #myPicture {
    display: flex;
    justify-content: center;
  }
  #myPicture img {
    margin: 0;
  }
  #resume {
    width: 210px;
    align-self: center;
    background-color: #0fa36b;
    float: none;
    color: white;
    font-size: 20px;
    border: 2px;
    border-color: white;
    border-style: solid;
    padding: 10px;
    border-radius: 10px;
    margin: auto;
    margin-top: 10%;
    margin-bottom: 10%;
  }
  h2 {
    text-align: center;
  }
  #resume p {
    text-align: left;
    width: 200px;
    margin: auto;
  }
  #bottom {
    display: flex;
    flex-flow: column;
    margin: 0;
    align-self: center;
    /* justify-content: center; */
    width: fit-content;
  }
  #portalDiv {
    margin: auto;
    width: fit-content;
    display: flex;
    justify-content: center;
  }
  #portal {
    width: 240px;
  }
  .columns {
    margin: 0;
    width: 50%;
    align-self: center;
    padding: 15px;
  }
  ul {
    padding: 10px;
  }
  ul li {
    text-align: left;
  }
  #footer {
    margin: 10% 0 0 0;
    border: 0px;
    padding: 0px;
    width: 100%;
  }
  #trybe img {
    width: 30px;
    margin: 0%;
  }
  #gauge img {
    width: 150px;
  }
  #screenControl {
    display: flex;
    flex-flow: column;
  }
}
@media screen and (min-width: 769px) and (max-width: 1319px) {
  #index {
    margin: auto;
    align-items: center;
    width: auto;
    justify-content: center;
  }
  #index h2 {
    text-align: center;
    margin: 5% 0 5% 0;
  }
  #myPicture {
    margin: auto;
  }

  #myPicture img {
    margin: auto;
  }
  #screenControl {
    display: flex;
    flex-flow: column;
  }
  #resume {
    margin: auto;
    margin-top: 5%;
  }
  #portalDiv {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  #portal {
    width: 160px;
  }
  #trybe img {
    width: 50px;
  }
}
